@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box Model Hack */
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	width: 100%;
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
#root,
#__next {
	isolation: isolate;
}

/* Setting up basic style guide */
body {
	font-family: "Helvetica Neue", sans-serif;
}
/*Custom CSS St
arts  */

.background-Image {
	background-image: linear-gradient(rgba(54, 59, 61, 0.8), rgba(54, 59, 61, 0.8)),
		url("/headerimage.png");
	background-size: cover;
	border-radius: 0 0 40px 40px;
	height: 99vh;
}

.black-iphone {
	background-image: url("/PhoneScreen.png");
	background-repeat: no-repeat;
	background-size: 200px;
	background-position: center;
	overflow: visible;
}

/* Change scroll bar */
html {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 10px;
	background: black;
}
::-webkit-scrollbar-thumb {
	background: rgba(54, 59, 61);
}
